name: CI
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NAME: redzip
    strategy:
      matrix:
        node-version:
          - 22.x
          - 24.x
          - 25.x
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: bun i -f --no-save
      - run: npm run fix:lint
      - run: npm run coverage
      - run: npm run report
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: EndBug/add-and-commit@v9
        with:
          branch: master
          message: "chore: ${{ env.NAME }}: lint using actions ☘️"
        continue-on-error: true
