name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      NAME: redzip

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
   
    - run: npm install
    - run: npm run fix:lint
    - run: npm run coverage
    - run: npm run report
  
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    
    - uses: EndBug/add-and-commit@v7
      with:
        branch: master
        message: 'chore(${{ env.NAME }}) lint using actions'

